<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1>Welcome to my app</h1>
    <h2>Student</h2>
    <a href="/getStudent"><h6>Get Student details using Id</h6></a>
    <a href="/insertStudent"><h6>Insert Student</h6></a>
    <a href="/deleteStudent"><h6>Delete Student</h6></a>
    
    <h2></h2>
    </div>
</body>
</html>